
* {
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}
#root {
    background: url("images/bg-mobile-dark.jpg") top center no-repeat, hsl(235, 21%, 11%);
    font-size: 18px;
}

/* Primary */
    /* - Bright Blue: hsl(220, 98%, 61%)
    - Check Background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%) */


/* Dark */
    /* - Very Dark Blue: hsl(235, 21%, 11%)
    - Very Dark Desaturated Blue: hsl(235, 24%, 19%)
    - Light Grayish Blue: hsl(234, 39%, 85%)
    - Light Grayish Blue (hover): hsl(236, 33%, 92%)
    - Dark Grayish Blue: hsl(234, 11%, 52%)
    - Very Dark Grayish Blue: hsl(233, 14%, 35%)
    - Very Dark Grayish Blue: hsl(237, 14%, 26%) */


    #content {
        padding: 30px;
    }

    #pageTitle {
        color: white;
        font-size: 15px;
        margin-top: 20px;
        display: grid;
        grid-template-columns: 10fr 1fr;
    }
    #mode {
        cursor: pointer;
    }


    /* To Do List */


    #inputField, #list, #itemState {
        border-radius: 5px;
        background-color:hsl(235, 24%, 19%)
    }

    #inputField {
        margin: 20px 0px;
        padding: 15px;
    }
    #list {
        margin-bottom: 20px;
    }
    .item {
        border-bottom: solid 1px;
        padding: 15px;
        font-size: 12px;
        color: hsl(234, 39%, 85%);
        font-weight: 400;
        display: grid;
        grid-template-columns: 1fr 5fr 1fr;
        
    }
    .circle {
        grid-column: 1;
        margin: auto;
        border: solid 1px;
        border-radius: 100%;
        padding: 5px;
        cursor: pointer;
    }
    .tick {
        opacity: 0;
    }
    .ticked {
        opacity: 100;
    }
    .circle.selected {
        grid-column: 1;
        margin: auto;
        border: solid 1px;
        border-radius: 100%;
        padding: 5px;
        background: linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    }
    .task {
        grid-column: 2;
        margin: auto;
        cursor: pointer;
    }
    .cross {
        grid-column: 3;
        margin: auto;
        cursor: pointer;
    }

    .completed {
        text-decoration: line-through rgba(255, 255, 255, 0.575);
        color: rgba(255, 255, 255, 0.575);
    }

/* Complete State */

    #itemState{
        display: grid;
        grid-template-columns: 25% 25% 50%;
        grid-template-rows: 1;
        padding: 15px 30px;
    }
    #showAll {
        grid-column: 1;
        grid-row: 1;
        cursor: pointer;
        font-size: 15px;
        text-align: right;
        padding-right: 5px;
        color: hsl(234, 11%, 52%);
        font-weight: 700;
    }
    #showActive {
        grid-column: 2;
        grid-row: 1;
        cursor: pointer;
        font-size: 15px;
        text-align: center;
        color: hsl(234, 11%, 52%);
        font-weight: 700;
    }
    #showCompleted {
        grid-column: 3;
        grid-row: 1;
        cursor: pointer;
        font-size: 15px;
        padding-left: 5px;
        color: hsl(234, 11%, 52%);
        font-weight: 700;
    }
    #showAll.selectedState, #showActive.selectedState, #showCompleted.selectedState {
        color: hsl(220, 98%, 61%);
    }


    #listFooter {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        padding: 15px;
        
    }
    #numLeft {
        font-size: 15px;
        color: hsl(234, 11%, 52%);
    }
    #clearCompleted {
        font-size: 15px;
        text-align: right;
        cursor: pointer;
        color: hsl(234, 11%, 52%);
    }


    #dragAndDrop {
        margin-top: 60px;
        margin-bottom: 100px;
        text-align: center;
        color: hsl(234, 11%, 52%);
    }
    #attribution {
        margin-top: 20px;
        font-size: 12px;
        text-align: center;
        background-color: white;
    }



@media screen and(min-width:1440px) { 
    #pageTitle {
        grid-column: 2;
    }
    #inputField {
        grid-column: 2;
    }
    #list {
        grid-column: 2;  
    }
}